[submodule "solutions/jetpad.vclang/vclang"]
	path = solutions/jetpad.vclang/vclang
	url = https://github.com/valis/vclang.git
[submodule "solutions/vclang-lib"]
	path = solutions/vclang-lib
	url = https://github.com/valis/vclang-lib.git
